.md-block-todo {
    .drag-handle {
        position: absolute;
        color: #9e9e9ea1;
        top: 5px;
        left: -30px;
        border: none;
        opacity: 0;
        cursor: grab;
        transition: opacity 100ms ease-in-out;
    }

    input[type=checkbox] {
        cursor: pointer;
        float: left;
        position: relative;
        top: 4px;
        left: -4px;
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &.md-block-todo-checked span {
        color: #9e9e9e;
        text-decoration: line-through;
    }

    .placeholder {
        position: relative;
    }

    .control {
        display: block;
        position: relative;
        padding-top: 5px;
        padding-left: 30px;
    }

    // Custom control
    .control__indicator {
        position: absolute;
        top: 6px;
        left: 0;
        height: 20px;
        width: 20px;
        border: 1px solid black;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .control input:hover ~ .control__indicator {
        background: #ccc;
    }
    .control input:checked ~ .control__indicator {
        background: #ffc800;
        // background: #2aa1c0;
    }
    .control:hover input:not([disabled]):checked ~ .control__indicator,
    .control input:checked:hover ~ .control__indicator {
        background: #dab800;
        // background: #0e647d;
    }
    .control input:disabled ~ .control__indicator {
        background: #e6e6e6;
        opacity: 0.6;
        pointer-events: none;
    }
    .control__indicator:after {
        content: '';
        position: absolute;
        display: none;
    }
    .control input:checked ~ .control__indicator:after {
        display: block;
    }
    .control--checkbox .control__indicator:after {
        left: 7px;
        top: 3.5px;
        width: 5px;
        height: 10px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    .control--checkbox input:disabled ~ .control__indicator:after {
        border-color: #7b7b7b;
    }
}